[[extend 'layout.html']]

<div class="section" id="app">
<!-- Complete.  --> 
<div class="columns">
  <div class="column is-three-quarters">
    <div>
      <div class="box">
        <!--Box for creating a new post-->
        <textarea
          id="post-input"
          v-model="newPostContent"
          placeholder="Write your post here... "
          class="textarea"
          style="width: 100%; height: 150px; font-size: 18px;"
        ></textarea>
        <button id="post-button" 
        class="button is-primary is-fullwidth"
        style="margin-top: 15x;"
        @click="createPost">Create Post</button>
      </div>
    </div>
    <div>
        <!--Class for handling content creation-->
      <div v-for="post in filteredPosts" :key="post.id" class="post" class="box" style="margin-top: 10px;">
        <p class="post-content"style="margin-bottom: 5px;">{{ post.content }}</p>
        <div class="tags">
          <span v-for="tag in post.tags" :key="tag.id" class="tag">
            {{ tag.name }}
          </span>
        </div>
          <!--Delete button functionality-->
        <button
          v-if="user !== null && post.user_id === user"
          class="delete-button"
          @click="deletePost(post.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

    <!--Box for handling the tag functionality-->
  <div class="column is-one-quarter">
    <div class="box">
      <h3 class="title is-4">Tags</h3>
        <button
          v-for="tag in tags"
          :key="tag.id"
          :class="{ active: activeTags.includes(tag.name) }"
          class="tag"
          @click="toggleTag(tag.name)"
        >
            {{ tag.name }}
        </button>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  // Complete.
</script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="[[=URL('static/js/index.js')]]"></script>
[[end]]
